<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="./main.css">
</head>

<body>



<nav class="navbar-inverse top-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The League of Ability Power</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Champions</a></li>
        <li><a href="#">Items</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Server
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">North America</a></li>
            <li><a href="#">Europe East</a></li>
            <li><a href="#">Europe West</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div class="first"></div>


<div class="second"></div>







<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>