<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css">
</head>

<body>



<nav class="navbar navbar-inverse top-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <span class="navbar-brand" href="#">League of Ability Power</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Server<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdowns" >All Regions</a></li>
            <li><a class="dropdowns" >North America</a></li>
            <li><a class="dropdowns" >Europe East</a></li>
            <li><a class="dropdowns" >Europe West</a></li>
            <li><a class="dropdowns" >Oceania</a></li>
          </ul>
        </li>
        <li><a href="#">Data</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="first">

  <div class="about centered">
    <h2>About</h2>
    <p> Welcome to League of Ability Power. Here we investigate what happens when Rito adds new items to the game. What changes? What champions are played? How does the meta change? Which items are useful and which are not? Scroll down to find out! </p>
    <p>

    <p> Made by Stephen Bahr and Raphael Baysa. Special thanks to Riot Games for the data and all images/videos that are used within this application!
  </div>

</div>


<div class="second"></div>







<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>

</body>

</html>